In [7]:
import datetime
import time
import finnhub
import pandas as pd

In [8]:
token = "ccnkjn2ad3i3sjb7e72gccnkjn2ad3i3sjb7e730"
companies = {'apple':'AAPL','microsoft':'MSFT','google':'GOOG','amazon':'AMZN','tesla':'TSLA','meta':'META','nvidia':'NVDA'}

In [9]:
finnhub_client = finnhub.Client(api_key=token)

In [14]:
data = []
for company in companies:
    symbol = companies[company]

    #Include this basic information in the visualiser
    company_profile = finnhub_client.company_profile2(symbol=symbol)
    name = company_profile['name']
    country = company_profile['country']
    exchange = company_profile['exchange']
    currency = company_profile['currency']
    outstanding_shares = company_profile['shareOutstanding']
    market_capitalisation = company_profile['marketCapitalization']
    data.append({
    'Name':name,
    'Country':country,
    'Exchange':exchange,
    'Outstanding Shares':outstanding_shares,
    'Market Cap': market_capitalisation
    })
df = pd.DataFrame(data)
df

,Name,Country,Exchange,Outstanding Shares,Market Cap
0,Apple Inc,US,NASDAQ NMS - GLOBAL MARKET,16070.80000,2.417523e+06
1,Microsoft Corp,US,NASDAQ NMS - GLOBAL MARKET,7457.89000,1.774382e+06
2,Alphabet Inc,US,NASDAQ NMS - GLOBAL MARKET,13046.19676,1.290873e+06
3,Amazon.com Inc,US,NASDAQ NMS - GLOBAL MARKET,10187.60000,1.159140e+06
4,Tesla Inc,US,NASDAQ NMS - GLOBAL MARKET,3133.47000,8.627383e+05
5,Meta Platforms Inc,US,NASDAQ NMS - GLOBAL MARKET,2687.67000,3.773761e+05
6,NVIDIA Corp,US,NASDAQ NMS - GLOBAL MARKET,2490.00000,3.116484e+05

In [25]:
#Calculates the unix timestamps for the respective durations
today = datetime.date.today()
last_week = (today - datetime.timedelta(days=7)).timetuple()
last_month = (today - datetime.timedelta(days=31)).timetuple()
today = today.timetuple()

start = time.mktime(last_week) #Change out for today,last_week,last_month based on the required interval of observation
start = int(start)
to = int(time.time())

candle_stick_data = finnhub_client.stock_candles('AAPL','D',start,to)
aapl_candle_data = pd.DataFrame(candle_stick_data)
aapl_candle_data['Date'] = aapl_candle_data['t'].apply(lambda x:pd.Timedelta(seconds=x)).dt.time()
aapl_candle_data

AttributeError: 'TimedeltaProperties' object has no attribute 'time'